@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    color: #000000;
}

/* HEADER */
.main-header {
    background-color: #ffe17f;
    width: 1160px;
    height: 300px;
    text-decoration: none;
    color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logo {
    height: 36px;
    padding: 0px;
    margin-left: 60px;
    margin-top: -21px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.user-container {
  width: 1040px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: -30px 60px 0px 60px;
  padding: 0px;
  align-content: center;
}

.header-search {
    display: flex;
    width: 517px;
    height: 40px;
    border: 2px, solid, black;
    border-radius: 50%;
}

.header-search-label {
  width: 517px;
}

.search {
    flex-grow: 1;
}

.search-text {
  font-size: 16px;
  line-height: 20px;
}

.main-header-function {
    width: 160px;
    text-align: left;
    vertical-align: center;
}

.login {
    background-image: url(../images/login.svg);
    background-repeat: no-repeat;
    padding-left: 26px;
    width: 81px;
    height: 30px;
    background-position: left center;
    margin-left: 27px;
}

.compare {
    background-image: url(../images/compare.svg);
    background-repeat: no-repeat;
    padding-left: 22px;
    width: 105px;
    height: 30px;
    background-position: left center;
    margin-left: 176px;
}

.basket {
    background-image: url(../images/basket.svg);
    background-repeat: no-repeat;
    padding-left: 28px;
    width: 99px;
    height: 30px;
    background-position: left center;
    margin-left: 36px;
}

.header-info-container {
    width: 1040px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -100px;;
}

.products-list-link {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    text-decoration: none;
    width: 293px;
    height: 50px;
    align-items: center;
}

.main-navigation {
    width: 471px;
    height: 21px;
    margin-left: 276px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

/*MAIN*/

.top-main-article {
    width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -150px;
}

.picture-slide-container {
    width: 560px;
    height: 560px;

  }

  /*стрелки назодятся в неправильном положении,
   пока не знаю как правильно их разместит(черновой варинат)*/
.change-item-button-forward-back {
    position: absolute;
    top:25%;
    width: 530px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.button-arrow-back {
    width: 20px;
    height: 60px;
    background-image: url(../images/arrow-back.svg);
    background-repeat: no-repeat;
}

.button-arrow-forward {
  width: 20px;
  height: 60px;
  background-image: url(../images/arrow-forward.svg);
  background-repeat: no-repeat;
}

.info-slide-container {
    width: 560px;
    display: flex;
    flex-direction: column;
}

.top-main-numbers {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  width: 250px;
  height: 135px;
  margin-right: 49px;
  margin-top: 80px;
}

.top-main-header {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    font-style: normal;
    margin: 0;
    margin-top: 121px;

}

.top-item-text {
    margin-top: 29px;
}

.more-info-change-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    margin-top: 51px;

}

.more-info-product {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffe17f;
    width: 220px;
}

.change-item-button-circle {
    width: 76px;
    display: flex;
    justify-content: space-between;
}

.table-top-item {
    margin-top: 49px;
    display: grid;
    grid-template-columns: 140px 147px ;
    row-gap: 12px;
    column-gap: 20px;
}

.table-data-info {
  margin: 0;
    font-size: 36px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
}

.table-header {
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    color: #444444;
}

.product-type {
    width: 1160px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px;
    column-gap: 40px;
}

.product-type-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height:24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color:#000000;
}

.product-type-item {
    background-color: #ffe17f;
    height: 253px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.vr-box {
    background-image: url("../images/product-type/virtual.svg");
}

.mono-box {
    background-image: url("../images/product-type/mono.svg");
}

.action-camera-box {
    background-image: url("../images/product-type/action-camera.svg");
}

.fitness-box {
    background-image: url("../images/product-type/fitness.svg");
}

.smart-watches-box {
    background-image: url("../images/product-type/smart-watch.svg");
}

.quad-box {
    background-image: url("../images/product-type/copter.svg");
}


/* INFO*/
.info {
    /* background-color: #f0f0f0;
    height: 289px; */
    margin-top: 172px;
}

.info-container {
    width: 1160px;
    height: 319px;
    margin: 0 auto;
    display: flex;


}

.info-link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 190px;
    margin: 65px 0;




}

.info-list {
    width: 694px;
    margin: 72.5px 63px 72.5px auto;
    display: flex;
    flex-direction: column;
}

.info-list-header {
    width: 280px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.info-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 00.2em;
    text-transform: uppercase;
    background-color: #ffe17f;
    color:#000000;
    text-decoration: none;
}

.current {
    color: #ffe17f;
    background-color: #000000;
}

.info-list-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color:#000000;
    margin-right: auto;
}

.info-item-text {
   color:#444444;
   width: 448px;
   margin: 0;
   margin-top: 34px;
   margin-right: auto;
}

.delivery-img {
    background-image: url(../images/info/courier.png);
    background-repeat: no-repeat;

    background-position: right;
}

.guarantee-img {
    background-image: url(../images/info/guarantee.png);
    background-repeat: no-repeat;
    width: 171px;
    height: 195px;
}

.loan-img {
    background-image: url(../images/info/loan.png);
    background-repeat: no-repeat;
    width: 156px;
    height: 188px;
}

/*DELIVERY*/

.delivery {
    width: 1160px;
    height: 100px;
    margin: auto;
    background-color: #f0f0f0;
    margin-top: 70px;
}

.delivery-link {
    margin: 0;
    padding: 0;
    display: flex;
}

.yellow-car {
  width: 125px;
  height: 100px;
  background-image: url(../images/car-delivery.svg);
  background-repeat: no-repeat;
  background-color: #ffe17f;
  background-position: center;
}

.delivery-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 00.2em;
    margin: auto;
    width: 910px;
    height: 20px;
    text-align: center;
}

.info-button {
    width: 40px;
    height: 40px;
    margin: 30px 42px;
    background-color: rgb(220, 220, 220, 0.5);
    border-radius: 50%;
    text-align: center;
}

.contacts {
    width: 1160px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-group-contacts {
    width: 520px;
    display: flex;
    flex-direction: column;

}

.about-us-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    width: 145px;
    margin: 0;
    margin-top: 47px;
}

.contacts-text {
    color: #444444;
}

.first-contacts-text {
    width: 497px;
    margin: 0;
    margin-top: 48px;
}

.second-contacts-text {
  width: 497px;
  margin: 0;
  margin-top: 30px;
}

.delivery-company-list {
    width: 178px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 36px;
}

.delivery-company-item {
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.about-us {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #ffe17f;
    width: 257px;
    margin-left: 6px;
    margin-top: 40px;
}

.second-group-contacts {
    width: 532px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    margin-top: 47px;
}

.third-contacts-text {
    margin-top: 48px;
}

.contacts-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin:0;
    margin-top: 30px;
}

.contacts-address {
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.contacts-address-text {
    margin:0;
    margin-top: 15px;
}

.contacts-phone {
    margin: 0;
    text-decoration: underline;
}

.opening-hours-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-top: 30px;
}

.contacts-time {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* не работает margin-top */
.contacts-form {

    font-family: "Raleway" , sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: #ffe17f;
    margin: 0;
    margin-left: 6px;
    margin-top: 40px;
}

.subscription {
    background-color: #f0f0f0;
    height: 421px;
    margin-top: 80px;
}

.subscription-container {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: column;
}

.subscription-first-container {
    margin: 0;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.subscription-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin:0;
    width: 348px;
}

.subscription-text {
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 560px;
    color: #444444;
    margin: 0;
    margin-top: 10px;
}

.subscription-second-container{
    margin: 0;
    margin-top: 144px;
    display: flex;
    justify-content: space-between;

}
.subscription-form {
    display:flex;
    flex-direction: row;
    width:810px;

}

.button-subscribe {
   border: 2px solid #c4c4c4;
   font-family: "Raleway";
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   padding:18px 39px;
  }

.green-img {
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 160px;
    height: 30px;
    color: #444444;
    padding: 0px;
    margin: 0px;
    background-image: url(../images/green-submit.svg);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: center left;
    align-self: center;

}

footer {
    background-color: #444444;
    height: 321px;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.footer-address {
    padding: 0;
    margin: 0;
    width: 234px;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
}

.footer-address-text {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 35px;
}

.footer-menu {
    width: 444px;
    margin: 0;
    padding: 0;
    margin-top: 137px;
    margin-left: 124px;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-navigation-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    gap: 35px;


}

.footer-social-container {

    display: flex;
    gap:15px;
    margin: 0 auto;
    margin-top: 62px;
}

.footer-phone {
    margin: 0;
    padding: 0;
    margin-top: 140px;
    margin-left:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social-link {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.contacts-footer-phone {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer-htmlacademy-link {
    width: 115px;
    height: 33px;
    margin-left: auto;
}



/* CATALOG.HTML */


.catalog-header {
    width: 1079px;
    height: 85px;
    padding: 0;
    margin: auto;
    margin-top: 35px;

}

.catalog-header-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin:0px;
    margin-top: 35px;
}

.breadcrumbs {
    width: 432px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 16px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.gray-background {
    margin-top: 35px;

    background-color: #f0f0f0;
}

.catalog-main-size {
  display: flex;
  width: 1160px;
  margin: 0px auto;
  margin-top: 41px;

  min-height: 1310px;

}

.catalog-filter {
    width: 320px;
    height: 1316px;
    margin: 0;
    padding: 0;
}

.catalog-products {
    background: #F0F0F0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.filter {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.catalog-main-part {
    width: 840px;
    height: 1380px;
    display: flex;
    flex-direction: column;
}

.sorting {
    width: 840px;
    height: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.sorting-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    width: 147px;
    height: 19px;
    margin: 0;
    margin-left: 40px;

}

.select-container {
    width: 141px;
    height: 30px;
    margin: 0;
    margin-left: 206px;
}

.sort-up-down-container {
    width: 60px;
    height: 30px;
    margin: 0;
    margin-left: 206px;
}

.sort-by-up {
    background-image: url(../images/click-up.svg);
    background-repeat: no-repeat;
}

.sort-by-down {
    background-image: url(../images/click-down.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.button-submit-filter {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffe17f;
}


.product-list {

    background-color: #ffffff;
    width: 760px;
    display: grid;
    grid-template-areas:
    "product-card1 product-card2"
    "product-card3 product-card4"
    "load-more load-more"
    "pagination pagination";
    grid-template-columns: 360px 360px;
    grid-template-rows:
    452px
    452px
    55px
    71px;
    row-gap: 44px;
    column-gap: 40px;
    margin: 0;
    padding: 70px 40px 78px 40px;
}

.product-card1 {
    grid-area: product-card1;
}
.product-card2 {
  grid-area: product-card2;
}
.product-card3 {
  grid-area: product-card3;
}
.product-card4 {
  grid-area: product-card4;
}

.product-card-image {
    background-color: #f0f0f0;
}

.product-card-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.name-price-card-container {
    height: 40px;
    padding: 0;
    margin: 0;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-title {
    width: 220px;
    font-family: "Rubik" sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-card-price {
    width: 100px;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
}
/* не получается поставить тектст в центр*/
.link-load-more {
    font-family: "Raleway", sans-serif ;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-top:18px;
    padding-bottom:18px ;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 3px solid #E5E5E5;
    text-decoration: none;
    grid-area: load-more;

}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 760px;
    height: 71px;
    background: #EBEBEB;
    list-style-type: none;
    grid-area: pagination;
    padding: 0;
    justify-content: space-between;
    margin: 0;
 }

 .pagination-next {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;


    padding: 25px;

 }

 .pagination-back {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 25px;

 }

.pagination-numbers {
    padding: 10px 15px;
    text-align: center;
}

 .pagination-numbers {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.3;


 }
